@charset "utf-8";

@font-face {
	font-family: 'LibelRegular';
	src: url(../font/libel-suit-rg.ttf);
}

html, body, div, span {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: 100%;
	color: inherit;
}

html {
	font-family: "LibelRegular";
}

body {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../image/wallpaper.png");
	background-size: 100% auto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #FFFFFF;
}

#statusbarPanel {
	height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

#datePanel {
	margin-top: 435px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	color: #FFFFFF;
}

#timePanel {
	line-height: 50px;
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 32px;
	text-align: center;
	color: #000000;
}

#weatherPanel {
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	color: #FFFFFF;
}

#dockPanel {
	margin-top: -10px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.5);
}

.shadow {
	height: 50px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../image/shadow.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
}