html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.edit {
  background: #333;
}

#debug {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFF;
  width: 100%;
  padding: 10px;
  display: none;
}

#debug.err {
  display: initial;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#canvas {
  bottom: 0;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}